# =========================
# Ambiente
# =========================
.venv/
venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Dados (ignora tudo, exceto estrutura)
# =========================
data/**
!data/
!data/.gitkeep
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep

# =========================
# Modelos
# =========================
models/**
!models/
!models/.gitkeep

# =========================
# Relatórios
# =========================
reports/**
!reports/
!reports/.gitkeep

# =========================
# Arquivos pesados
# =========================
*.joblib