# =========================
# Ambiente
# =========================
.venv/
venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Dados (ignora tudo, exceto .gitkeep)
# =========================
data/**
!data/.gitkeep

# =========================
# Modelos (ignora tudo, exceto .gitkeep)
# =========================
models/**
!models/.gitkeep

# =========================
# Relatórios (ignora tudo, exceto .gitkeep)
# =========================
reports/**
!reports/.gitkeep

# =========================
# Arquivos pesados
# =========================
*.joblib